<%= simple_form_for(@vacancy) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>"btn btn-primary" %>
    <%= button_tag "Reset", type: :reset, :class=>"btn btn-default"%>
  </div>
<% end %>
